<div class="jumbotron">
	<h1>Listings for <%= "#{@subcategory.name}" %></h1>
</div>

<% @posts.each do |post| %>
	| <%= link_to post.title, post_path(post) %>
<% end %>

</br></br>
<center><%= link_to "Create a New Post in #{@subcategory.name}", new_post_path, class: "btn btn-primary" %></center>	