<div class="bs-masthead" style="padding: 10px; padding-left: 100px;">
  <h1 style="text-align:left;">About</h1>
</div>

<div class="row">

	<!-- Tom Wark -->
	<div class="col-lg-4 view view-first">
		<img src="/assets/ronaldvictorino-bg1.JPG"/>
		<div class="mask">
			</br>
			<center>  
			  <div class="profilephoto" style="background-image:url('/assets/tom-wark.png')"></div>
		  	<h2>Tom Wark</h2>

		  	<p style="text-align: left;">
		  		Tom Wark is a young Carpenter/Renovator born and raised in the rural Ottawa area. He attended the University of Ottawa from 2006 – 2010 where he completed a Bachelor of Science. With not many prospects in the Science
					lab/research field he decided to start his own Home Renovation Company.</br></br>
					After two years of doing renovation work, he needed a career change and asked some friends about programming
					and web development. Since then he has dedicated all his free time to learning and practicing coding. He aspires to	be a successful web developer and will not shy away from whatever it takes to get there.
				</p>

		  	<a href="https://github.com/twillw"><img src="/assets/github-logo.png"></a>
		  	<a href="https://twitter.com/Tom_Wark"><img src="/assets/twitter-logo.png"></a>
				<a href="https://www.linkedin.com/pub/tom-wark/73/9b3/600"><img src="/assets/linkedin-logo.png"></a>
			</center>
	  </div>
	</div>

	<!-- Harman Dhillon -->
	<div class="col-lg-4 view view-first">
		<img src="/assets/ronaldvictorino-bg1.JPG"/>
		<div class="mask">
			</br>
			<center>
			  <div class="profilephoto" style="background-image:url('/assets/harman-dhillon.png')"></div>
		  	<h2>Harman Dhillon</h2>
		  	<p style="text-align: left;">
		  		Harman’s background is in investment banking, corporate finance, law and technology. Harman enjoys working with
					start-ups and helping them commercialize their technologies and devise business and IP strategies. Outside of
					work, Harman enjoys playing sports and spending time with his friends and family.
				</p>

	  		<a href="https://github.com/hdhillon05"><img src="/assets/github-logo.png"></a>
	  		<a href="https://twitter.com/RonaldVictorino"><img src="/assets/twitter-logo.png"></a>
				<a href="http://www.linkedin.com/pub/harman-dhillon/0/859/11"><img src="/assets/linkedin-logo.png"></a>
		  </center>
		 </div>
	</div>

	<!-- Ronald Victorino -->	
	<div class="col-lg-4 view view-first">
		<img src="/assets/ronaldvictorino-bg1.JPG"/>
		<div class="mask">
			</br>
			<center>
				<div class="profilephoto" style="background-image:url('/assets/ronald-victorino.png')"></div>
				<h2>Ronald Victorino</h2>
				<p style="text-align: left;">
					Ronald is passionate about technology, social change and the link between the two. He graduated from the
					University of Toronto with a degree in Materials Science and Engineering. There he studied the mechanical
					properties of hybrid materials using electroplated nanomaterials onto rapid prototyped objects. </br></br>
					After much soul searching and redirection, he is currently taking his career in a new direction. Ronald is in the process of self-learning programming in the hopes of building applications for his own personal projects.
				</p>

				<a href="https://github.com/ronathan"><img src="/assets/github-logo.png"></a>
				<a href="https://twitter.com/RonaldVictorino"><img src="/assets/twitter-logo.png"></a>
				<a href="http://www.linkedin.com/pub/ronald-victorino/54/1a/99b"><img src="/assets/linkedin-logo.png"></a>
			</center>
		</div>
	</div>

</div>

<script>
  $('.nav a:contains("About")').parent().addClass('active');
</script>