<div class="bs-masthead" style="padding: 30px;">
  <h1 style="text-align:left;">About</h1>
</div>

<div class="row">
	<!-- Tom Wark -->
	<div class="col-lg-4">
		<center>
		  <div class="profilephoto" style="background-image:url('http://frankresizr-902207972.us-east-1.elb.amazonaws.com/aHR0cHM6Ly93d3cuZmlsZXBpY2tlci5pby9hcGkvZmlsZS9HemtUM05FN1F3Q3AydmVxb0hRaA==-146x146-c.png')"></div>
	  	<h3>Tom Wark</h3>
	  	<h4>
	  		<a href="https://github.com/twillw"><img src="/assets/github-logo.png"></a>
	  		<a href="https://twitter.com/RonaldVictorino"><img src="/assets/twitter-logo.png"></a>
				<a href="http://www.linkedin.com/pub/ronald-victorino/54/1a/99b"><img src="/assets/linkedin-logo.png"></a>
	  	</h4>
	  </center>
	</div>

	<!-- Harman Dhillon -->
	<div class="col-lg-4">
		<center>
		  <div class="profilephoto" style="background-image:url('http://frankresizr-902207972.us-east-1.elb.amazonaws.com/aHR0cHM6Ly93d3cuZmlsZXBpY2tlci5pby9hcGkvZmlsZS9HemtUM05FN1F3Q3AydmVxb0hRaA==-146x146-c.png')"></div>
	  	<h3>Harman Dhillon</h3>
	  	<h4>
	  		<a href="https://github.com/hdhillon05"><img src="/assets/github-logo.png"></a>
	  		<a href="https://twitter.com/RonaldVictorino"><img src="/assets/twitter-logo.png"></a>
				<a href="http://www.linkedin.com/pub/ronald-victorino/54/1a/99b"><img src="/assets/linkedin-logo.png"></a>
	  	</h4>
	  </center>
	</div>

	<!-- Ronald Victorino -->	
	<div class="col-lg-4">
		<center>
			<div class="profilephoto" style="background-image:url('http://frankresizr-902207972.us-east-1.elb.amazonaws.com/aHR0cHM6Ly93d3cuZmlsZXBpY2tlci5pby9hcGkvZmlsZS9odXR1RzBhcVFBMkE1R0hFWHllTw==-146x146-c.png')"></div>
			<h3>Ronald Victorino</h3>
			<h4>
				<a href="https://github.com/ronathan"><img src="/assets/github-logo.png"></a>
				<a href="https://twitter.com/RonaldVictorino"><img src="/assets/twitter-logo.png"></a>
				<a href="http://www.linkedin.com/pub/ronald-victorino/54/1a/99b"><img src="/assets/linkedin-logo.png"></a>
			</h4>
		</center>
	</div>
</div>

<script>
  $('.nav a:contains("About")').parent().addClass('active');
</script>