<div class="bs-masthead">
  <div class="container">
  	<h1>Fake Craigslist</h1>
    <h2>Better than the Real Craigslist</h2>
  	</br>
    <center>
      <a href="<%= cities_path %>">
      	<button type="button" class="btn btn-primary">
      		<h3>Get Started!</h3>
      	</button>
      </a>
    </center>
  </div>
</div>

<div class="col-lg-12">
	<h5>Created by: 
		Tom Wark (<a href="https://github.com/twillw">@twillw</a>), 
		Harman Dhillon (<a href="https://github.com/hdhillon05">@hdhillon05</a>) and 
		Ronald Victorino(<a href="https://github.com/ronathan">@ronathan</a>)
</div>
<center>
	<iframe src="http://ghbtns.com/github-btn.html?user=twillw&repo=craigslist&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
  <iframe src="http://ghbtns.com/github-btn.html?user=twillw&repo=craigslist&type=watch"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
</center>

<script>
  $('.nav a:contains("Home")').parent().addClass('active');
</script>