<div class="bs-masthead">
	<h1>Get Started!</h1>
	<h2>Pick your city below:</h2>
</div>
<div class="row">
  <% @cities.each do |city| %>
		<div class="col-lg-2" style="background-image:url('<%= asset_path city.image_url %>'); background-size:100%;">
			<center><h4><%= link_to city.name, set_city_path(city) %></h4></center>
	  </div>
	<% end %>
</div>

<script>
  $('.nav a:contains("Cities")').parent().addClass('active');
</script>