<div class="bs-masthead">
  <div class="container">
  	<h1>Fake Craigslist</h1>
    <h2>Better than the Real Craigslist</h2>
  </div>
</div>

<div class="col-lg-12">
	<h5>Created by: 
		Tom Wark (<a href="https://github.com/twillw">@twillw</a>), 
		Harmon Dhillon (<a href="https://github.com/hdhillon05">@hdhillon05</a>) and 
		Ronald Victorino(<a href="https://github.com/ronathan">@ronathan</a>)
</div>

<div class="row">
  <% @cities.each do |city| %>
		<div class="col-lg-2">
			<center><h4 style="line-height: 1;">
			  <%= link_to city.name, set_city_path(city) %>
			</center></h1>
	  </div>
	<% end %>
</div>
