<div class="row">
  <% @cities.each do |city| %>
		<div class="col-lg-4">
			<center><h1>
			  <%= link_to city.name, city_path(city) %>
			</center></h1>
	  </div>
	<% end %>
</div>

<%= @current_city %>