<div class="jumbotron">
	<h1>Get Started!</h1>
	<h2>Pick your city below:</h2>
</div>
<div class="row">
  <% @cities.each do |city| %>
		<div class="col-lg-2">
			<center><h4 style="line-height: 1;">
			  <%= link_to city.name, set_city_path(city) %>
			</center></h1>
	  </div>
	<% end %>
</div>

<script>
  $('.nav a:contains("Home")').parent().addClass('active');
</script>