@import url("bootstrap_v3.css");

.row {
	margin-left: 5px;
}

.col-lg-4 {
	-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
	border: 2px solid #B4DDFF;
	padding: 10px;
	width: 32%;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: #FFF;
}

.col-lg-2 {
	-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
	border: 2px solid #1989E5;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #1C98FF;
	width: 16.2%;
}

.navbar {
	background-color: #105894;
	border: 1px solid #fff;
	margin-bottom: 5px;
}

.navbar-nav > .active > a {
	background-color: #FFF;
}

.navbar-nav > li > a {
	color: #FFF;
}

.navbar-brand {
	color: #FFF;
	font-family: Aguafina;
}

.col-lg-2 a {
	color: #FFF;
}

.jumbotron {
	background-image: url('Toronto.jpg');
	background-size: 110%;
	background-position: 0px -40px;
	margin-bottom: 15px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	border-radius: 0px;
	height:200px;
}