@import url("bootstrap_v3.css");

body { padding-top: 55px; }

.row {
	margin-left: 5px;
}

.col-lg-4 {
	border-radius: 4px;
	border: 2px solid #B4DDFF;
	padding: 10px;
	width: 32%;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: #FFF;
}

.navbar {
	background-color: #0D4473;
	border: 1px solid #fff;
	margin-bottom: 5px;
	font-family: Engagement;
}

.navbar-nav > .active > a {
	background-color: #FFF;
}

.navbar-nav > li > a {
	color: #FFF;
}

.navbar-brand {
	color: #FFF;
}

.col-lg-2 {
	border-radius: 4px;
	border: 2px solid #1989E5;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #1C98FF;
	width: 16.1%;
}

.col-lg-2 a {
	color: #FFF;
	font-family: Engagement;
}

.jumbotron {
	background-size: 110%;
	background-position: 0px -40px;
	margin-bottom: 15px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	border-radius: 0px;
	height:200px;
}

.bs-masthead {
  
  padding-top: 150px;
  padding-bottom: 150px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 5px;
}

.bs-masthead h1 {
  font-size: 100px;
  text-align: center;
  font-family: Engagement;
}

.bs-masthead h2 {
	font-size:40px;
	text-align: center;
	font-family: Engagement;
}

.col-lg-12 {
	border: 1px solid #1989E5; 
	background-color: #1C98FF; 
	border-radius: 4px;  
	margin-bottom: 500px;
	width: 99.9%;
	margin-left: 1px;
	margin-right: 1px;
}

.col-lg-12 h5, .col-lg-12 a {
	text-align: center;
	font-size: 14px;
	font-family: Engagement;
	color: #fff;
}

.col-lg-12 a:hover {
	color: #0D4473;
}