<div class="jumbotron" style="background-image:url('/assets/<%= @current_city.image_url %>')">
  <h1 style="font-family: Aguafina;"><%= @current_city.name %></h1>
</div>

<h1> Select your category/subcategory</h1>

<% @categories.each do |category| %>
	
	<%= category.name %>
	
	<% subcategories = @subcategories.where(category_id: category.id).all %>

	<% subcategories.each do |subcategory| %>
		<ul>
			<li>
				<%= link_to subcategory.name, subcategory_path(subcategory) %>
			</li>
		</ul>
	<% end %>
<% end %>